{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

    <h1>Login</h1>

    <form method="POST">
        {% csrf_token %}

        <p>
            {{ form.username.label_tag }}
            {{ form.username }}
        </p>

        <p>
            {{ form.password.label_tag }}
            {{ form.password }}
        </p>

        <button type="submit">Entrar</button>
    </form>

    <p>
        <a href="{% url 'cadastro_usuario' %}">Cadastre-se</a>
    </p>

</body>
</html>