{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deletar produto</title>
</head>
<body>
    <h1>Deletar Produto</h1>

    <p>Deseja realmente excluir <strong>{{ object.nome }}</strong>?</p>

    <form method="POST"> {% csrf_token %}

        
        <button type="submit">Deletar</button>
        <button><a href="{% url 'produtos' %}">Cancelar</a></button>
    </form>
    
    

</body>
</html>