{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
</head>
<body>
    <h1>Produtos</h1>

    <ul>
    {% for p in produtos %}
    
        <li>
            {{p.id}} {{ p.nome }} — R$ {{ p.preco }}
            <button><a href="{% url 'Atualizar_Produto' p.id%}">Editar</a></button>
            <button><a href="{% url 'Deletar_Produto' p.id%}">Deletar</a></button>

        </li>
    {% endfor %}
    </ul>
    <button><a href="{% url 'Criar_Produto' %}">Adicionar</a></button>
    
</body>
</html>